* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:600px) {
    .html {
        height: 50vh;
        overflow: auto;
    }

    .div {
        position: relative;
        width: 20vh;
        height: 20vh;
        margin: 0 auto;
    }
}